@import 'variables';
@import 'functions';

input {
    margin-left:-13px;
    padding-bottom: 2px;
    outline: 0;
    border-width: 0 0 1px;
    border-color: #333d3c8c;
  }
  input:focus {
    border-color: rgba(0, 174, 255, 0.589);
}


body{
  overflow-x: hidden;
  transition: 2s;
}

html {
  scroll-behavior: smooth;
}


.nav{
  position: fixed;
  display: flex;
  z-index: 50;
  background-color: #86857d81;;
  padding-top:30px;
  border-radius: 5px;
  top:130px;
  left:0px;
}

.icon{
  position: relative;
  width:70px;
  height:30px;
  cursor:pointer;
}

.hamburger{
  position:absolute;
  width:50px;
  height:4px;
  top:0px;
  left:35px;
  transform:translate(-50%, -50%);
  background-color:white;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: .5s;
}

.hamburger:before,
.hamburger:after
{
  content:" ";
  position:absolute;
  width:50px;
  height:4px;
  background:white;
  transition: .5s;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.hamburger:before{
  top:-12px;
}

.hamburger:after{
  top:12px;
}

.icon.active .hamburger{
    background-color:transparent;
    box-shadow: none;
}


.icon.active .hamburger::before{
  top:0;
  transform:rotate(45deg);
}

.icon.active .hamburger:after{
    top:0;
    transform:rotate(135deg);
}

aside {
  position: fixed;
  padding-left:30px;
  padding-right:30px;
  top:0px;
  left:0px;
  bottom: 0;
  width: 100%;
  height:120px;
  background-color: rgba(255, 255, 255, 0.95);
  transition: 1s linear;
  z-index: 10;

}

aside.off{
 left:0px;
 top:-120px;
  overflow: hidden;
}

.content{
  position: relative;
  padding:50px;
  margin-top:100px;
  font-size: 20px;
  z-index: -1;

}

ul{
  display:flex;
  justify-content: space-between;
}

.nav-list{
  margin-top:50px;
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
  z-index: 11;
  padding-left:10px;
  padding-right:10px;

  li{
    color:black;
    font-family: $font-family-two;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 25px;
    transition:3s;
    border-bottom:2px solid transparent;
  }

  li:hover{
    border-bottom:2px solid black;
    color:rgb(0, 161, 182);
    padding-bottom:10px;
  }
  

}




