.about{
    background-image: url(~img/B_03.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    max-width: 1366px;
    margin-left: auto;
    margin-right:auto;
    background-repeat: no-repeat;
    overflow-y: hidden;
    margin-top: -1px;
    z-index: 1;

    &__container{
        max-width:1024px;
        margin-left:auto;
        margin-right:auto;
        margin-top:0px;
   
    }

    &__tile{
        position: relative;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 40px;
        @include breakpoint(large) {
            justify-content: space-between;
            margin-bottom:60px;
        }
    }

    &__logo{
        @include breakpoint(large) {
        margin-left:85px;
        }
    }

    &__text{
        width: 80%;
        @include breakpoint(large) {
        padding-right: 36px;
        padding-top:16px;
        width: 46.4%;
        }
    }

    &__text-discription{
        margin-bottom:0px;
        @include breakpoint(large) {
        margin-bottom:20px;  
        padding-top:15px;  
        padding-right: 40px;
        }
    }

    &__employees{
        display: none;
        @include breakpoint(large) {
        display:block;   
        }
    }


    &__logo--one{
        position: relative;
        background-image: url(~img/rise.png);
        width:100%;
        height: 90px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 20px;
        @include breakpoint(large) {
        width: 221px;
        height: 137px;
        background-position: left;
        margin-bottom: 0px;
        }
    }

    &__logo--two{
        background-image: url(~img/sun.png);
        background-size: contain;
        width:100%;
        height: 65px;
        margin-bottom: 20px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 10;
        @include breakpoint(large) {
            background-position: center;
            width: 216px;
            height: 137px;
            background-position: -2px 72px;
            margin-bottom: 0px;
        }
    }

    &__ball{
        display: none;
        background-image: url(~img/ball-4.png);
        background-repeat: no-repeat;
        position: absolute;
        top:226px;
        width:299px;
        height:200px;
        left:225px;
        z-index: 10;
        @include breakpoint(large) {
            display: flex;
        }
    }

    &__ball-two{
        display: none;
        background-image: url(~img/ball-6.png);
        background-repeat: no-repeat;
        position: absolute;
        top:90px;
        width:299px;
        height:200px;
        left:160px;
        @include breakpoint(large) {
            display: flex;
            animation-name:move;
            animation-duration:10s;
            position:absolute;
            animation-iteration-count:infinite;
            -webkit-animation-name:move;
            -webkit-animation-duration:10s;
            -webkit-animation-iteration-count:infinite;    
        }
    }

    &__ball-three{
        display:none;
        background-image: url(~img/ball-7.png);
        background-repeat: no-repeat;
        position: absolute;
        top:204px;
        width:299px;
        height:200px;
        left:495px;
        @include breakpoint(large) {
            display:flex;
            animation-name:move;
            animation-duration:10s;
            top:90px;
            animation-iteration-count:infinite;
            -webkit-animation-name:move;
            -webkit-animation-duration:10s;
            -webkit-animation-iteration-count:infinite;   
        }
    }

    &__discription{
        width:80%;
        @include breakpoint(large) {
        width:46.6%;
        }
    }

    &__person{
        display:flex;
        justify-content: flex-start;
        align-items: flex-end;
    }

    &__name{
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        position: relative;
        top:7px;
        left:6px;
        letter-spacing: 2.4px;
        color:$title-color;
        font-family: $font-family-two;
        margin-right:23px;
        transition: 2s;
        @include breakpoint(large) {
            font-size: 24px;   
        }
    }

    &__name:hover{
        transform: scale(1.1);
        transition: transform 2s; 

    }

    &__position{
        text-transform: uppercase;
        font-family: $font-family-two;
        color: #868782;
        letter-spacing: 1.7px;
        font-size: 12px;
        font-weight: 400;
        margin-right: 4px;
        @include breakpoint(large) {
        font-size: 16px;   
        }
    }

    &__paddle{
        position: relative;
        bottom:3px;
        height:1px;
        width:6.8%;
        background-color:black;
        border-bottom:1px solid white;
    }

    &__paddle--two{
        width:21%;
        
    }

    &__status{
        text-transform: uppercase;
        font-family: $font-family-two;
        position: relative;
        color: #ffffff;
        font-size: 15px;
        letter-spacing: 3.8px;
        padding-left:3px;
        padding-right:3px;
        padding-top:1px;
        padding-bottom:1px;
        top:1px;
        background-color:  #bab8ac;
        transition:1s;
        @include breakpoint(large) {
            font-size: 20px;   
            }
    }

    &__status:hover{
        color:white;
        background-color:green;
        transition:1s;
        transform: scale(1.1);
        transition: transform 2s; 

    }
}
















