.contact {
    background-image: url(~img/background-6.png);
    background-repeat: no-repeat;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    height: 834px;
    margin-top: -2px;


    &__container {
        max-width: 927px;
        margin-left: auto;
        margin-right: auto;
    }

    &__boarder {
        padding-left: 10px;
        padding-right: 10px;
        @include breakpoint(xmedium) {
        padding-left: 49px;
        padding-right: 30px;
    }
    }
    
    &__ball{
        display: none;
        background-image: url(~img/ball-13.png);
        background-repeat: no-repeat;
        position: absolute;
        width:299px;
        height:120px;
        top:400px;
        animation-name:width;
        animation-duration:10s;
        animation-iteration-count:infinite;
        -webkit-animation-name:width;
        -webkit-animation-duration:10s;
        -webkit-animation-iteration-count:infinite;    
        @include breakpoint(large) {
            display: flex;
        }
    }

    &__box {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding-top: 24px;
        flex-wrap: wrap;
        @include breakpoint(xmedium) {
            flex-wrap: nowrap;
            padding-top: 34px;
        }

    }

    &__title-box{
        @include breakpoint(xmedium) {
        position: relative;
        padding-left:36px;
        justify-content: flex-end;
        display:flex;
        }
    }

    &__number{
        position: relative;
        bottom:35px;
        @include breakpoint(xmedium) {
        position: relative;
        left:10px;
        top:7px;
    }
    }

    &__name{
        padding-right:2px;
        margin-bottom: 17px;
    }

    &__data{
        padding-right:20px;
        color: #868782;
        font-family:$font-family;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.08px;
        margin-bottom:28px;
        @include breakpoint(xmedium) {
        font-size: 16px;   
        }
    }

    &__info{
        padding-top: 19px;
        text-align:center;
        width: 100%;
        @include breakpoint(xmedium) {
        text-align: right;
        padding-top: 82px;
        }
    
    }

    &__title{
        margin-bottom:50px;
    }


    &__form {
        padding-top: 46px;
        padding-left: 50px;
        background-color: rgba(255, 255, 255, 0.5);
        width: 100%;
        @include breakpoint(xmedium) {
            width: 58.5%;
        }

        form {
            display: block;
            text-align: center;
            width: 100%;
            padding-right: 36px;
            padding-left: 0px;

            input {
                width: 100%;
                background-color: transparent;
                text-align: center;
                color: #868782;
                font-family: $font-family;
                font-size: 12px;
                font-weight: 200;
                line-height: 18px;
                letter-spacing: 0.2px;
                padding-bottom: 8.5px;
                margin-bottom: 30px;
            }

            .contact__btn {
                background-color: #bab8ac;
                padding-top: 6px;
                padding-bottom: 6px;
                color: white;
                max-width: 72px;
                border: none;
                text-transform: uppercase;
                font-family: $font-family-two;
                font-size: 24px;
                font-weight: 600;
                letter-spacing: 2.4px;
                margin-bottom: 25px;
                transition:1s;
            }

            .contact__btn:hover {
                background-color: #cbf2f0;
                color:black;
            }
        }
    }

    &__form-title {
        color: #333d3c;
        font-family: $font-family-two;
        font-size: 24px;
        font-weight: 1000;
        text-transform: uppercase;
        letter-spacing: 9.6px;
        margin-bottom: 27px;
        padding-left: 5px;
    }
}

textarea {
    overflow: hidden;
}

#textarea {
    display: block;
    background-color: transparent;
    position: relative;
    resize: none;
    right: 8px;
    border: none;
    width: 100%;
    border-bottom: 1px solid #333d3c8c;
    opacity: 1;
    width: 100%;
    text-align: center;
    color: #868782;
    font-family: $font-family;
    font-size: 12px;
    font-weight: 200;
    line-height: 18px;
    letter-spacing: 0.2px;
    padding-left: 5px;
    padding-bottom: 36px;
    margin-bottom: 20px;
    margin-top: 23px;

}