.footer{
    max-width: 1366px;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 10px;
    @include breakpoint(large) {
        padding-bottom: 20px;
    }
    &__border{
        position: relative;
        @include breakpoint(large) {
        padding-left:27px;
        padding-right:27px;
        }
    }

    &__box{       
        display: flex;
        flex-wrap: wrap;
        padding-top:21px;
        @include breakpoint(large) {
            flex-wrap: nowrap;
        }
    }
     
    &__col{
        display: flex;
        justify-content: flex-start;
    }

    &__col:nth-last-of-type(3){
        width:100%;
        order:1;
        justify-content: center;
        margin-bottom:10px;
         @include breakpoint(large) {
        width: 24%;
        justify-content: flex-start;
        margin-bottom:0px;
    }}

    &__col:nth-last-of-type(2){
        width:100%;
        order:3;
        padding-top:7px;
        margin-bottom:30px;
        justify-content: center;
        @include breakpoint(large) {
            width: 60%;
            order:2;
            margin-bottom:0px;
            justify-content: flex-start;
        }
    }

    &__col:nth-last-of-type(1){
        padding-top:6px;
        width: 100%;
        order:2;
        padding-top:12px;
        justify-content: center;
        margin-bottom:30px;
        @include breakpoint(large) {
            width: 15%;
            padding-left: 47px;
            order:3;
            margin-bottom:0px;
    
        }
    }

    &__logo--one{
        background-image: url(~img/rise-black.png);
        background-position: 2px center;
        width: 91px;
        background-repeat: no-repeat;
        height: 54px;
        margin-right:58px;
    }

    &__logo--two{
        background-image: url(~img/Jonh.png); 
        width: 150px;
        height: 36px;
        background-size: contain;
        background-repeat: no-repeat; ;
        background-position: center;
    
    }

    &__social{
        display: flex;
        padding-top:18px;
        transition:1s;
    }

    &__social:hover{
        transition:1s;
        transform: scale(1.2);
        transition: transform 2s;
    }



    &__insta{
        background-image: url(~img/insta-black.png); 
        width: 22px;
        height: 23px; 
        background-size: contain;
        background-repeat: no-repeat; 
        margin-right:14px;
    }

    
    &__fb{
        background-image: url(~img/fb-black.png); 
        width: 22px;
        height: 23px; 
        background-size: contain;
        background-repeat: no-repeat; 
    }


    &__list{
        @include breakpoint(medium) {
        display: flex;
        align-items: center;
        margin-left:61px;
        flex-wrap: wrap;
    
    }

  
        li{
            text-transform: uppercase;
            font-family: $font-family-two;
            text-align: center;
            color: #333d3c;
            font-size: 16px;
            font-weight: 800;
            letter-spacing: 1.56px;
            margin-bottom:25px;
            line-height: 0.1;
            @include breakpoint(medium) {
            font-size: 16px;
            margin-right:60px;
            margin-bottom:0px;
            transition:1s;
            }
         }
    }
    &__list-el:hover{
        transition:1s;
        transform: scale(1.2);
        transition: transform 2s;
    }
}

#list-element{
    margin-right:10px;
    @include breakpoint(medium) {
    margin-right:67px;
    margin-left:2px;}
}