.header{
    background-image: url(~img/B_01.png);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1366px;
    margin-left:auto;
    margin-right:auto;
    overflow-x: hidden;


    &__container{
        max-width: 1290px;
        margin-left:auto;
        margin-right:auto;
    }

    &__border{
        padding-left:25px;
        padding-right:25px;
        position: relative;
    }

    &__navbox{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__box{
        padding-top:35px;
        padding-bottom:128px;
        display:flex;
        justify-content: space-between;
    }

    &__country{
        padding-top:15px;
        a{
            font-family:$font-family-two;
            font-size: 18px;
            letter-spacing: 2px;
            font-weight: 800;
            font-family: $font-family-two;
            color:black;
            margin-left:3px;
            transition: 1s;
            transition-duration:2s;
            
        }

        a:hover{
            color:rgb(0, 204, 255);
            transform: scale(3);
            -webkit-transform: scale(3);
            -moz-transform: scale(3);
        }
    }

    &__logo{
        background-image:url(~img/logo.png);
        height:76px;
        width:126px;
        background-repeat: no-repeat;
    }

    &__social{
        padding-top:25px;
        position: relative;
        right:30px;
        display:flex;
    }

    &__insta{
        background-image:url(~img/insta.png); 
        background-size: cover;
        width: 16px;
        height: 16px;
        margin-right:15px;
    }

    &__fb{
        background-image:url(~img/fb.png); 
        background-size: cover;
        width: 16px;
        height: 16px;
    }

}


























