
.hero{
    background-image: url(~img/B_02.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1366px;
    margin-left:auto;
    margin-right:auto;
    position: relative;
    margin-top:-1px;
    overflow-x: hidden;

    &__top-title{
    text-align: center;
    border-right:30px;
    border-left:30px; 
    margin-bottom:40px;
    }

    &__box{
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 370px;
    }

    &__title{
        text-align: center;
        margin-bottom:105px;
        @include breakpoint(medium) {
            margin-bottom:28px;
        }
      
    }

    &__title::before{
        position: absolute;
        padding-right:10px;
        content: url(~img/ball-1.png);
        width:40px;
        height:70px;
        left:105px;
        top:200px;
        @include breakpoint(medium) {
        animation-name:move;
        animation-duration:10s;
        top:90px;
        animation-iteration-count:infinite;
        -webkit-animation-name:move;
        -webkit-animation-duration:10s;
        -webkit-animation-iteration-count:infinite;
        }
    }

    &__title:after{
        position: absolute;
        padding-right:10px;
        content: url(~img/ball-2.png);
        width:40px;
        height:70px;
        left:210px;
        top:300px;
        @include breakpoint(medium) {
        animation-name:move2;
        animation-duration:10s;
        top:-90px;
        animation-iteration-count:infinite;
        -webkit-animation-name:move2;
        -webkit-animation-duration:10s;
        -webkit-animation-iteration-count:infinite;
        }
    }


    &__box{
        position: relative;
        max-width: 900px;
    }

    &__scroll_box{
        padding-top:90px;
        height:170px;
    }

    &__box:after{
        position: absolute;
        padding-right:10px;
        content: url(~img/ball-3.png);
        width:40px;
        height:70px;
        right:40px;
        top:-100px;
        @include breakpoint(medium) {
        animation-name:move;
        animation-duration:10s;
        animation-iteration-count:infinite;
        -webkit-animation-name:move;
        -webkit-animation-duration:10s;
        -webkit-animation-iteration-count:infinite;  
        }
    }

    &__btn{
        display: flex;
        position: relative;
        left:5px;
        justify-content: center;
        margin-bottom:212px;
    }

    &__scroll{
        text-align: center;
        text-transform: uppercase;
        color: #333d3c;
        letter-spacing: 1.8px;
        font-size: 18px;
        font-weight: 800;
        font-family: $font-family-two;
        padding-left:8px;
        animation-name:szerokosc;
        animation-duration:5s;
        animation-iteration-count:infinite;
        -webkit-animation-name:szerokosc;
        -webkit-animation-duration:5s;
        -webkit-animation-iteration-count:infinite;
      }
    &__btn-text{
       transition: 2s;
    }

    &__btn-text:hover{
        color:black;
        font-weight: 800;
        transform: scale(1.1);
        transition: transform 2s; 
        border:1px solid black;
    }
    
}

 























