.idea{
    background-image: url(~img/B_04.png);
    background-repeat: no-repeat;
    background-image: cover;
    background-position: center;
    //padding-top: 14px;
    max-width:1366px;
    margin-left: auto;
    margin-right:auto;
    padding-bottom: 50px;
    margin-top: -1px;
    z-index: 0;
    @include breakpoint(large) {
    padding-bottom: 120px; 
    }

    &__container{
        max-width: 850px;
        margin-left:auto;
        margin-right: auto;
        background-color: #fff2dd;
    }

    &__tile{
        position: relative;
        display:flex;
        flex-wrap: wrap;
        @include breakpoint(large) {
        flex-wrap: nowrap;

        }
    }

    &__ball{
        display: none;
        background-image: url(~img/ball-8.png);
        background-repeat: no-repeat;
        position: absolute;
        top:186px;
        width:299px;
        height:200px;
        right: -82px;
        animation-name:width;
        animation-duration:10s;
        top:90px;
        animation-iteration-count:infinite;
        -webkit-animation-name:width;
        -webkit-animation-duration:10s;
        -webkit-animation-iteration-count:infinite;    
        @include breakpoint(large) {
            display: flex;
        }
    }

    &__col-one{
        padding-top:20px;
        padding-bottom:30px;
        width:100%;
        padding-right: 25px;
        padding-left:20px;
        background-color:  #fff2dd;
        @include breakpoint(large) {
        width:50%; 
        padding-top:40px; 
        }
    }

    &__col-two{
        display:flex;
        justify-content: space-between;
        padding-top:0px;
        padding-bottom:20px;
        width:100%;
        padding-right: 25px;
        padding-left:55px;
        background-color:  #fff2dd;
        @include breakpoint(large) {
        width:49%;  
        padding-top:75px;
        padding-bottom:30px;
        }
    }

    &__text{
        text-align:center;
        line-height: 1.3;
        color: #455251;
        opacity: 0.49;
        padding-bottom:30px;
        border-bottom: 1px solid black;
        font-size:12px;
        @include breakpoint(large) {
            text-align: right;
            font-size:14px;
            padding-bottom:0px;
            border-bottom: 1px solid transparent;
        }
    }

    &__paddle{
        display: none;
        height:141px;
        width:1px;
        background-color:#333d3c;
        margin-top:42px;
        @include breakpoint(large) {
        display: block;
        } 
    }

    &__title{
        color: #333d3c;
        font-family:$font-family-two;
        font-size: 40px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 4.3px;
        padding-left:1px;
        animation-name:szerokosc;
        animation-duration:5s;
        animation-iteration-count:infinite;
        -webkit-animation-name:szerokosc;
        -webkit-animation-duration:5s;
        -webkit-animation-iteration-count:infinite;

        span{
            margin-right:7.5px;
        }
    }

    &__subtitle{
        color: #333d3c;
        font-family:$font-family-two;
        font-size: 24px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 2.35px;
        

        
        span{
            padding-left:4px;
            margin-right:5.5px;
        }
    }

    &__arrow{
        background-image: url(~img/arrow.png);
        height:30px;
        width:30px;
        background-repeat: no-repeat;
        background-position: 12px bottom;
        background-position: center;
        background-color:grey;
        border-radius: 50%;
        position: relative;
        top:19px;
        right:2px;
        animation-name:szerokosc;
        animation-duration:5s;
        animation-iteration-count:infinite;
        -webkit-animation-name:szerokosc;
        -webkit-animation-duration:5s;
        -webkit-animation-iteration-count:infinite;
        transition:2s;
    }

    &__arrow:hover{
        background-color:rgb(0, 162, 255);
    }

}























