.offer{
    background-image: url(~img/B_05.png);
    background-repeat: no-repeat;
    background-position: center;
    max-width:1366px;
    margin-left:auto;
    margin-right:auto;
    margin-top:-1px;   
    padding-bottom: 14px; 
    overflow-x: hidden;
    overflow-y: hidden;


    @include breakpoint(large) {
        padding-bottom: 165px;    
    }

    &__container{
        background-image: url(~img/B_05.png);
        max-width:924px;
        margin-left:auto;
        margin-right:auto;
        @include breakpoint(medium) {
            background-image:none;
        }
    }

    &__ball{
        background-image: url(~img/ball-9.png);
        position: absolute;
        height:70px;
        width:80px;
        top:168px;
        left:-15px;
        display: none;
        @include breakpoint(large) {
            display: block;
            animation-name:move;
            animation-duration:10s;
            animation-iteration-count:infinite;
            -webkit-animation-name:move;
            -webkit-animation-duration:10s;
            -webkit-animation-iteration-count:infinite;    
        }
    }

    &__ball-two{
        background-image: url(~img/ball-10.png);
        background-repeat: no-repeat;
        position: absolute;
        height:70px;
        width:80px;
        top:0px;
        right:-100px;
        display: none;
        @include breakpoint(large) {
            display: block;
            animation-name:move2;
            animation-duration:10s;
            animation-iteration-count:infinite;
            -webkit-animation-name:move2;
            -webkit-animation-duration:10s;
            -webkit-animation-iteration-count:infinite;    
        }
    }

    &__ball-three{
        background-image: url(~img/ball-4.png);
        background-repeat: no-repeat;
        position: absolute;
        background-position: right;
        height:130px;
        width:300px;
        top:0px;
        right:80px;
        display: none;
        @include breakpoint(large) {
            display: block;
            animation-name:move;
            animation-duration:10s;
            animation-iteration-count:infinite;
            -webkit-animation-name:move;
            -webkit-animation-duration:10s;
            -webkit-animation-iteration-count:infinite;    
        }
    }

    &__ball-four{
        background-image: url(~img/ball-2.png);
        background-repeat: no-repeat;
        position: absolute;
        background-position: right;
        height:130px;
        width:300px;
        top:0px;
        left:-50px;
        display: none;
        @include breakpoint(large) {
            display: block;
            animation-name:move2;
            animation-duration:10s;
            animation-iteration-count:infinite;
            -webkit-animation-name:move2;
            -webkit-animation-duration:10s;
            -webkit-animation-iteration-count:infinite;    
        }
    }

    
    &__ball-five{
        background-image: url(~img/ball-11.png);
        background-repeat: no-repeat;
        position: absolute;
        background-position: right;
        height:130px;
        width:300px;
        top:0px;
        left:-50px;
        display: none;
        @include breakpoint(large) {
            display: block;
            animation-name:move2;
            animation-duration:10s;
            animation-iteration-count:infinite;
            -webkit-animation-name:move2;
            -webkit-animation-duration:10s;
            -webkit-animation-iteration-count:infinite;    
        }
    }

    &__title-box{
        display: flex;
        justify-content: center;
        padding-top:0px;
        @include breakpoint(large) {
            padding-top:43px;
        }
   
    }

    &__title{
        margin-bottom:10px;
        animation-name:position;
        animation-duration:10s;
        animation-iteration-count:infinite;
        -webkit-animation-name:position;
        -webkit-animation-duration:10s;
        -webkit-animation-iteration-count:infinite;
        @include breakpoint(large) {
        margin-bottom:60px;  
        padding-left:41px;
        }
        
    }

    &__number{
        position: relative;
        @include breakpoint(large) {
            right:2px;
            padding-top:2px;
        }
    }

    &__subtitle{
        color: #868782;
        font-family: $font-family-two;
        text-align: center;
        font-size: 14px;
        padding-left:30px;
        padding-right:30px;
        font-weight: 400;
        line-height: 1.56;
        text-transform: uppercase;
        letter-spacing: 1.6px;
        @include breakpoint(large) {
        font-size: 16px;  
        }
    }

    &__subtitle-box{
        max-width:530px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:30px; 
        @include breakpoint(large) {
        margin-bottom:115px;
        padding-left:18.5px;
        }
    }

    &__tile{
        position: relative;
        margin-bottom:30px;
        display: flex;
        flex-wrap: wrap;
        padding-left:9px;
        justify-content: center;
        transition-duration:4s;
        @include breakpoint(large) {
            flex-wrap: nowrap;  
            margin-bottom:10px;
            justify-content: flex-start;
        }
       // justify-content: center;
    }

    &__tile:hover{
        transition:1s;
        transform: scale(1.1);
        transition: transform 2s; 
    }

    &__tile:nth-of-type(even){
        justify-content: center;
        @include breakpoint(large) {
        justify-content: flex-start;
        flex-direction:row-reverse;
    }
    }

    &__tile:nth-of-type(3){
        @include breakpoint(large) {
            margin-top:-27px;
        }
    }

    
    &__tile:nth-of-type(4){
        justify-content: center;
        flex-direction:row;
        margin-bottom: 83px;
        @include breakpoint(large) {
            margin-top:-31px;
            justify-content: flex-end;
        }
        
    }

    &__tile:nth-of-type(5){
        justify-content: center;
        display: none;
        @include breakpoint(large) {
        display: flex;
        justify-content: flex-start;
        flex-direction:row;
        margin-left:-120px;
        }
    }

    &__tile:nth-of-type(6){
   
        flex-direction:row;
        @include breakpoint(large) {
            display: flex;
            justify-content: flex-end;
            margin-top:-19px;
            margin-right:-155px
            }
    }

    &__img{
        background-repeat: no-repeat;
    }

    &__img--one{
        background-position:center;
        height: 186px;
        background-image: url(~img/poduszka.png);
        width: 100%;
        @include breakpoint(small) {
        background-position:center; 
        }
        @include breakpoint(large) {
        background-position:right; 
        width: 26.5%;  
        }
    }

    &__img--two{
        background-position:center;
        background-image: url(~img/kamizelka.png);
        height: 266px;
        width: 100%;
        @include breakpoint(large) {
            background-position:right; 
            width: 23%;
            }
    }

    &__img--three{
        background-position:center;
        background-image: url(~img/light.png);
        height: 166px;
        width: 100%;

        @include breakpoint(large) {
            background-position:top right -2px; 
            width: 16.2%;
            height: 266px;
        }
    }

    &__img--four{
        background-position: center ;
        background-image: url(~img/google.png);
        width: 100%;
        height: 259px;
        @include breakpoint(large) {
            background-position: 68px 4px ;
            background-position:right; 
            width: 33%;
            height: 159px;
        }
    }

    &__img--five{
        background-position: center;
        background-image: url(~img/roll.png);
        width: 40%;
        height: 318px;
    }

    &__img--six{
        background-position: center;
        background-image: url(~img/cup.png);
        width: 100%;
        height: 218px;

        @include breakpoint(small) {
            width:65%;
        }

        @include breakpoint(large) {
            position: relative;
            top:50px;
            left: 15px;
            width: 25%;
        }
    }

    &__text-box{
        text-align: center;
        width:100%;
        padding-left:40px;
        padding-right:40px; 
        @include breakpoint(small) {
            width:65%;
        }
        @include breakpoint(large) {
        text-align:left;
        width:33%;    
        padding-left:59px;
        padding-top:47px;
        padding-right:0px;
        }
    } 

    &__text-box-two{
        text-align: center;
        width:100%;
        padding-right:40px;
        padding-left:40px;
        padding-top:47px;
        @include breakpoint(small) {
            width:65%;
        }

        @include breakpoint(large) {
            text-align:left;
            width:40%;    
            padding-left:80px;
            padding-top:106px;
            padding-right:0px;
            }
    }

    &__text-box-three{
        text-align: center;
        width:100%;
        padding-right:40px;
        padding-left:40px;
        padding-top:47px;

        @include breakpoint(small) {
            width:65%;
        }

        @include breakpoint(large) {
            text-align:left;
            width:30%;
            padding-left:33px;
            padding-top:53px;
            padding-right:0px;
            }
    }

    &__text-box-four{
        text-align: center;
        width:100%;
        padding-right:40px;
        padding-left:40px;

        @include breakpoint(small) {
            width:65%;
        }

        @include breakpoint(large) {
            text-align:left;
            width:26.3%;    
            margin-left:50px;
            padding-left:0px;
            padding-right: 10px;
            margin-left:50px;
        }

    }

    &__text-box-five{
        position: relative;
        right:20px;
        width:27%;
        margin-left:50px;
        padding-right: 10px;
        padding-top:69px;
    }

    &__text-box-six{
        text-align:center;
        position: relative;
        width:100%;
        padding-right:40px;
        padding-left:40px;

        @include breakpoint(small) {
            width:65%;
        }
        @include breakpoint(large) {
            text-align:left;
            width:27%;    
            padding-right: 36px;
            padding-left:0px;
            left:-20px;
            }
    }
    
    &__header{
        margin-bottom:12px;
    }

    &__paddle{
        display:none;
        height: 1px;
        width:48px;
        background-color: #333d3c;
        margin-bottom:8px;
        @include breakpoint(large) {
            display: block;
        }
    }

    &__paddle--last{
        position: relative;
        top:2px;
        height: 1px;
        width:48px;
        background-color: #333d3c;
        margin-bottom:16px;
    }
    
}