.realization{
    background-image: url(~img/B_06.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -1px;
    max-width: 1366px;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:3px;


    &__container{
        max-width:1115px;
        margin-left:auto;
        margin-right:auto;
    }

    &__boarder{
        padding-left:10px;
        padding-right:10px;
        @include breakpoint(large) {
        padding-left:0px;
        padding-right:0px;
        }
    }

    &__tile{
            margin-bottom:30px;
            transition-duration:4s;
        @include breakpoint(large) {
            margin-bottom:100px;
        }
    }

    &__tile:nth-of-type(1){
        background-color: white;
        width:100%;
        padding-top:69px;
        padding-bottom:63px; 
        margin-bottom:45px;
        @include breakpoint(large) {
        margin-top:-35px;
        text-align: left;
        padding-top:99px;
        padding-bottom:93px;
        width:61.2%;
        margin-bottom:0px;
        }
    }

    &__tile:nth-last-of-type(1){
        margin-top:-35px;
        background-color: #86857d;
        text-align: center;
        padding-top:68px;
        width:100%;
        padding-bottom:70px;
        
        @include breakpoint(large) {
        width:47.9%;
        margin-top: -115px;  
        margin-right:-22px;
        }
    }

    &__tile-holder{
        display: flex;
        justify-content: center;
        transition-duration:4s;
        @include breakpoint(large) {
        justify-content: flex-end;
        }

        .realization__subtitle-box{
            margin-bottom:29px;
        }

        .realization__btn{
            position: relative;
            left:1px;
            background-color: #cbf2f0;
            color: #333d3c;
            font-weight: 600;
            text-align: center;
        }
    }

    &__tile-holder:hover{
        @include breakpoint(large) {
        transition:1s;
        transform: scale(1.1);
        transition: transform 2s;
    } 
    }

    &__tile:hover{
        @include breakpoint(large) {
        transition:1s;
        transform: scale(1.1);
        transition: transform 2s;} 
    }

    &__title-box{
        display: flex;
        justify-content: center;
        margin-bottom: 27px;
    }

    &__title-box-two{
        display:flex;
        justify-content: center;
        padding-left:26px;
        margin-bottom:34px;

        .realization__number{
            color: #bab8ac;
            position: relative;
            left:6px;
            top:9px;
        }
    }

    &__number{
        position: relative;
        top:7px;
        left:9px;
    }

    &__subtitle-box{
        display: flex;
        justify-content: center;
        margin-bottom:57px;
    }

    &__subtitle{
        color: #868782;
        font-family: $font-family-two;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5;
        text-transform: uppercase;
        letter-spacing: 1.6px;  
        width: 59%;
        text-align: center;
        @include breakpoint(large) {
        text-align: left;
        width: 30%;
        padding-right:20px;
        }
    }

    
    &__subtitle-two{
        color: white;
        font-family: $font-family-two;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5;
        text-transform: uppercase;
        letter-spacing: 1.6px;  
        width: 59%;
        position: relative;
        left:6px;
        top:1px;
    }

    &__btn{
        color:white;
        padding-top:8px;
        padding-bottom:9px;
        max-width:202px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        right:13px;
        text-transform: uppercase;
        font-family: $font-family-two;
        font-size: 23px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2.6px;
        background-color: #bab8ac;
        text-align: center;
        border:1px solid transparent;
        transition:2s;
    }

    &__btn:hover{
        border:1px solid black;
        color:black;
    }



  

  
}