.a-top-title {
    color: $toptitle-color;
    font-family: $font-family-two;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3.7px;
    @include breakpoint(medium) {
    font-size: 24px;
    }
}

.a-title {
    color: $title-color;
    font-family: $font-family-two;
    font-size: 54px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 8.7px;
    @include breakpoint(medium) {
        font-size: 78px;
    }
}

.a-btn {
    text-transform: uppercase;
    font-family: $font-family-two;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    border: 1px solid white;
    min-width: 220px;
    text-align: center;
    padding-top: 6px;
    padding-left: 14px;
    padding-right: 7px;
    padding-bottom: 7px;
}

.a-text {
    font-family: $font-family;
    line-height: 1.46;
    color: #868782;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 0.07px;  
    @include breakpoint(large) {
    font-size: 14px;
    }
}

.a-title-two {

    text-transform: uppercase;
    font-family: $font-family-two;
    font-weight: 1000;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 0.79;
    letter-spacing: 10px;
    color: #333d3c;

    @include breakpoint(medium) {
    font-size: 50px; 
    letter-spacing: 24px; 
    }
    @include breakpoint(large) {
    font-size: 60px;
    }
}

.a-number {
    color: #868782;
    font-family: $font-family-two;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.8px;

    &--white {
        color: white;
    }
}

.a-header {
    color: #333d3c;
    font-family: $font-family-two;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}

.a-title-three {
    color: $title-color;
    font-family: $font-family-two;
    font-size: 48px;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: 4.8px;

    &--white {
        color: white;
    }
}






