@import 'fonts';
@import 'global';
@import 'utility';

@keyframes position
{
  0% { }
  25%{}
  50%{ color:rgb(255, 255, 255);}
  75%{  color:rgb(255, 255, 255);}
  100% { }
}

   @keyframes szerokosc
   {
     0% { transform: scale(1); }
     50%{   transform: scale(1.05);                     }
     75% { transform: scale(1.1);}
     100% { transform: scale(1);
     
     }
   }


   @keyframes move
   {
    0% {top:170px; }
  
    50%{top:0px;}

    100% { top:170px; }
   }

   @-webkit-keyframes move
   {
    0% {top:500px; opacity:0; }

    50%{top:0px; opacity:1;}
    
    100% { top:500px; opacity:0; }
   }

   @keyframes move2
   {
    0% {top:500px; width: 100px; opacity:0; }
    30%{top:0px;  width: 400px; opacity:0.6;}
    60%{top:100px; width:500px; opacity:0.9;}
    100% { top:500px; width: 100px; opacity:0;}
   }

   @-webkit-keyframes move2
   {
    0% {top:500px; }

    50%{top:0px;}
    
    100% { top:500px; }
   }

   @media only screen and (max-width: 800px) {
    * {
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    }
    }


   @keyframes width
   {
    0% {left:500px; top:190px}
  
    50%{left:400px; top:190px}

    100% { left:500px; top:190px}
   }

   @-webkit-keyframes width
   {
    0% {left:100px; top:190px}
  
    50%{left:50px;top:190px}

    100% { left:10px; top:190px}
   }



    body{
      overflow-x: hidden;
    }
